page-basket {



// #basketDate{
//     padding-bottom:10px;
// }

.basketDivider{
    padding-bottom:10px;
    
}

.foodName{
    font-weight: 500;
}

#totalPrice{
   border-top: 1px solid lightgray;    
//    padding:10px; 

}

// .foodBought{
//     border-bottom: 1px solid lightgray; 
   
// }

}
