<!--
  Generated template for the SellFood page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Sell Food</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

<ion-list>

  <ion-item-divider color="light"><h2 style="font-weight:bold">Food Name</h2></ion-item-divider>
  <ion-item>
    <ion-input placeholder="Set A" clearInput></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Chicken Rice" clearInput></ion-input>
  </ion-item>

  <ion-item>
    <button ion-button block default (click)="takePhoto()">
      <ion-icon name="image"></ion-icon> &nbsp;&nbsp;&nbsp;
      Add Photo
      </button>
  </ion-item>

  <ion-item>    
    <img [src]="base64Image" *ngIf="base64Image" />
  </ion-item>

<ion-list radio-group no-lines>
  <ion-item-divider color="light"><h2 style="font-weight:bold">Meal</h2></ion-item-divider>
  <ion-item>
    <ion-label >Lunch</ion-label>
    <ion-radio checked="true" value="lunch"></ion-radio>
  </ion-item>

  <ion-item>
    <ion-label>Dinner</ion-label>
    <ion-radio value="dinner"></ion-radio>
  </ion-item>
</ion-list>

<ion-item-divider color="light"><h2 style="font-weight:bold">Selling Date</h2></ion-item-divider>
<ion-item>
  <ion-label>Selling Date </ion-label>
  <ion-datetime  displayFormat="D MMMM YYYY" pickerFormat="D MMMM YYYY" min="2017" [(ngModel)]="myDate"
    monthNames="January, February, March, April, May, June, July, August, September, October, November, December"
    monthShortNames = "Jan, Feb, Mar, Apr, May, June, July, Aug, Sep, Oct, Nov, Dec"
    dayNames= "Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday"
    dayShortNames="Mon, Tue, Wed, Thurs, Fri, Sat, Sun">
  </ion-datetime>
</ion-item>

<ion-item-divider color="light"><h2 style="font-weight:bold">Price</h2></ion-item-divider>
  <ion-item>
    <ion-label color="primary">RM </ion-label>
    <ion-input placeholder="5" clearInput type="number"></ion-input>
  </ion-item>

<ion-item-divider color="light"><h2 style="font-weight:bold">Description</h2></ion-item-divider>
  <ion-item>
    <ion-textarea placeholder="Enter a description" clearInput></ion-textarea>
  </ion-item>

<ion-item-divider color="light"><h2 style="font-weight:bold">Order Close time</h2></ion-item-divider>
  <ion-item>
  <ion-label>Enter Order Close time</ion-label>
  <ion-datetime displayFormat="h:mm A " [(ngModel)]="closeTime"></ion-datetime>
</ion-item>


<!--===============================Changes start from here===================================-->
<ion-list no-lines>
  <ion-item-divider color="light"><h2 style="font-weight:bold">Pickup Location</h2></ion-item-divider>
  <ion-item *ngFor = "let location of locations;">
    <ion-label >{{ location.venue }}</ion-label>
    <ion-checkbox  ng-model= " location.venue " checked="{{location.checked}}"></ion-checkbox>
  </ion-item>
</ion-list>

<!--<ion-item-divider color="light"><h2 style="font-weight:bold">Pickup Location and Time</h2></ion-item-divider>
<ion-grid>
 <ion-row >
      <ion-item  no-lines style="margin-left:-20px;">

        <ion-select mode="wp" >
          <ion-option value="kk3" selected="true">KK3</ion-option>
          <ion-option value="kk2">KK2</ion-option>
          <ion-option value="kk4">KK4</ion-option>
        </ion-select>
        
      </ion-item>
      <ion-item no-lines  mode="wp" style="margin-right:-20px;">
        
        <ion-input  mode="wp" placeholder="6.00pm-6.30pm"></ion-input>
      </ion-item>

  </ion-row>
   <ion-row >
      <ion-item  no-lines style="margin-left:-20px;">

        <ion-select mode="wp" >
          <ion-option value="kk3" selected="true">Payung Putih</ion-option>
          <ion-option value="kk2">KK2</ion-option>
          <ion-option value="kk4">KK4</ion-option>
        </ion-select>
        
      </ion-item>
      <ion-item no-lines  mode="wp" style="margin-right:-20px;">
        
        <ion-input  mode="wp" placeholder="6.00pm-6.30pm"></ion-input>
      </ion-item>

  </ion-row>
  </ion-grid>-->

<!---========================Add pickup dropdown button=====================-->
<ion-item no-lines>
<div id="add-pickup">
  <button (click)="addPickupLocation()" color="button" clear ion-button >
    <h2>Add pickup location</h2>&nbsp; &nbsp; &nbsp; &nbsp; <ion-icon [name]="Icon"></ion-icon>
  </button>
  
</div>
</ion-item>

<!---========================Add pickup textbox=====================-->
<div *ngIf="addPickup" id="pickUp">
<ion-item mode="wp" no-lines>
  <ion-input mode="wp" [(ngModel)]="pickupPlace" clearInput placeholder="Enter pick up place"></ion-input>
</ion-item>

<!---========================Add pickup button=====================-->
<div class="button-container-seller">
  <button (click)="addPickupLocation2()" round small ion-button class="button" color="button">Add pickup location </button>
</div>
</div>

<!---========================Alert box=====================-->
<!--<ion-card class="alert">
  <ion-card-content>
    <h3><ion-icon item-left name="md-alert"></ion-icon>&nbsp;&nbsp; Please fill in Pick Up Time </h3>
  </ion-card-content>
</ion-card>-->


<!---========================Add pickup time=====================-->
<ion-list radio-group no-lines mode="wp" >
  <ion-item-divider color="light"><h2 style="font-weight:bold">Pickup Time</h2></ion-item-divider>
      <ion-item no-lines  mode="wp" style="margin-right:-10px" *ngFor="let location of locations">
        <h2 style=" width:40%"  item-left>{{location.venue}} : </h2>
        <ion-input style=" width:60%"  mode="wp" placeholder="6.00pm-6.30pm"></ion-input>
      </ion-item>
</ion-list>
</ion-list>
<!--=============================Until from here================================-->


<div class="buttonContainer">
  <button ion-button class="button" color="button" round>Sell Food </button>
</div>

</ion-content>
