page-signup {

.buttonContainer{

    text-align:center;
    padding-bottom:15px;
    

    .button{
    width:90%;
    text-align:right;
    font-weight:500;

}
}

#spacing{
   
    height:50px;
}

}
